
.container {
  text-align: center;
}

.sectionTitle {
  margin-bottom: 25px;

  h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  p {
    color: #8c8c8c;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5em;
  }
}