
.wrapper {
  position: absolute;
  width: 100%;
  padding: 30px 50px;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.logo {
  order: 1;
}

.navigation {
  order: 2;
}

@media (max-width: 1024px) {
  .logo {
    order: 2;
  }

  .navigation {
    order: 1;
  }
}