
.button {
  background-color: #998675;
  color: #fff;
  padding: 10px 17px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  border: none;
  border-bottom: 3px solid #736357;
  cursor: pointer;
}